*{
   
    font-family: 'Avenir', Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0 auto;
    margin-left: 0 auto;
    margin-right: 0 auto;
    margin-top: 0 auto;
    padding-right: 0 auto;
   

}

body{
    
    background-repeat: no-repeat;
   overflow-x: hidden;
    min-width: 100vw;
    margin: 0;


}
.head h1{
    
    margin-left: 100px;
}

.image{
    border-radius: 20px;
    box-shadow: inset;
    margin-left: 100px;
    width: 400px;
    height: 300px;
    align-items: center;
}
.image-press{
    border-radius: 20px;
    box-shadow: inset;
    margin-left: 180px;
    width: 400px;
    height: 300px;
    align-items: center;
}
.about{
    padding: 5px;
    border-radius: 20px;
    box-shadow: inset;
    margin-left: 100px;
    width: 450px;
    height: 500px; 
}
  .head{
    background-color: rgb(245, 243, 243);
    display: flex;
   
    
  }
    .container{
        max-width: 1280px;
    }
    .display{
        display: flex;
    }
    .bg{
        
        margin: 0 auto;
        background-color: rgb(245, 243, 243);
        margin-bottom: 50px;
      
    }
    .banner{
        
        margin: 0 auto;
        background-color: rgb(245, 243, 243);
        margin-bottom: 50px;
      
    }
    .press{
        
        margin: 0 auto;
        background-color: rgb(245, 243, 243);
        margin-bottom: 50px;
      
    }
    .video-banner{
        
        margin: 0 auto;
        background-color: rgb(245, 243, 243);
       
      
    }
    main{
        min-height: 100%;
    }
   .heading-font1{
       font-size: 20px;
   }
   .heading-font2{
    font-size: 40px;
}
    .heading-font3{
    font-size: 60px;
}
    footer{
        background-color: rgb(245, 243, 243);
        
        text-align: center; 
        font-weight: normal;
        color: rgb(78, 76, 76);
        font-size: smaller;
        margin-top: 0 auto;
    }
    .footer-icon{
        margin-left:35px;
    }
  
    .about-me{
        margin-left: 100px;
        background-color: rgb(255, 255, 255);
        display: flex;
        margin-bottom: 50px;
    }
    .projects{
        margin-left: 100px;
        background-color: rgb(255, 255, 255);
        margin-bottom: 50px;
        
    }
    .head-container{
        max-width: 1280px;
        padding: 0 ;
        margin: 0 auto;
        
       
    }
    .container2{
        max-width: 1280px;
        padding: 0 ;
        margin: 0 auto;
        background-color: rgb(245, 243, 243);
        display: flex;
        height: 1100px;
       font-family: 'Avenir', Helvetica, sans-serif;
       
    }
    .container1{
        max-width: 1280px;
        padding: 0 ;
        margin: 0 auto;
        background-color: rgb(255, 255, 255);
        display: flex;
        height: 600px;
        margin-left: 180px;
        font-family: 'Avenir', Helvetica, sans-serif
    }
    .container3{
        max-width: 1280px;
        padding: 0 ;
        margin: 0 auto;
        background-color: rgb(255, 255, 255);
        display: flex;
        height: 600px;
        margin-left: 100px;
        font-family: 'Avenir', Helvetica, sans-serif
    }
    .heading{
        margin-left: 40px;
        font-weight: bold;
        color: rgb(78, 76, 76);
        font-size: xx-large;
       
        
    }
    .heading1{
        
        font-weight: bold;
        color: rgb(78, 76, 76);
        font-size: xx-large;
        text-align: center;
        margin-top: 0;
    }
    .sub-heading{
        text-align: center;
        font-weight: normal;
        color: rgb(78, 76, 76);
        font-size: large;
    }
    
    .wrapper{
        max-width: 1280px;
        padding: 0 ;
        margin: 0 auto;
        
    }
    .small{
        font-weight: normal;
        color: darkgrey;
        font-size: smaller
    }
    .normal{
        font-weight: normal;
        color: rgb(139, 139, 139);
        font-size: medium;
    }
    
    .footer-icon img{
        width: 20px;
        height: 20px;
        margin-right: 30px;
    }
    .icon-style{
        margin-left: 150px;
       
    }
    .icon-style1{
        margin-left: 300px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
  .project4{
    width: 500px;
    height: 300px;
  }
  .paerpay{
    width: 150px;
    height: 30px;
    margin-top: 40px;
  }
  .video-img{
   
    height:80%;
    
  }
  
    #disp{
        display: flex;
        background-color: rgb(245, 243, 243);
    }
    
    .press{
        background-color: rgb(245, 243, 243);
    }
    .paragraph{
        margin-left: 40px;
        
        font-weight: normal;
        color: rgb(71, 71, 71);
        font-size: large;
    }
    .light{
        margin-left: 40px;
       
        font-weight: normal;
        font-size: large;
        
        color: darkgrey;
    }
    .margin{
        margin-left: 100px;
    }
    
    .display-flex{
        
        width : 100%;
        font-family: 'Avenir', Helvetica, sans-serif;

    }
    .containers{
        max-width: 1280px;
        padding: 0 ;
        margin: 0 auto;
        background-color: rgb(245, 243, 243);
        height: 600px;
    }
    .containers1{
        max-width: 1280px;
        padding: 0 ;
        margin: 0 auto;
        background-color: rgb(255, 255, 255);
        height: 600px;
    }
    .display{
        
        background-image: url("images/background\ dots.png");
        background-repeat: no-repeat;
        background-size: auto;
        background-position: right;
    }
   .icons{
       margin-left: 980px;
       background-color:rgb(245, 243, 243) ;
   }
    .center{
        position: fixed;
        left: 50%;
    }
    
      button {
        background-color:rgb(41, 41, 41);
        border-radius: 3px;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        height: fit-content;
        box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
      }
      .box-shade{
        -webkit-box-shadow: 0 0 10px rgb(20, 19, 19);
        box-shadow: 0 0 1px rgb(20, 19, 19);
      }
      .main-menu
        {
        margin-left: 450px;
        text-decoration: none;
        list-style: none;
        display: inline;
        display: flex;
        padding: 10px;
        justify-content: center;
        position: absolute;
        font-weight: lighter;
        background-color: rgb(245, 243, 243);
       
        }
        .main-menu li{
            margin-right: 50px;
            background-color: rgb(245, 243, 243);
        }
        
        .profile{
            margin-left: 400px;
            margin-top: 50px;
            width:380px;
            height:480px;
            border-radius:3px;
            box-shadow: 13px -13px rgb(41, 41, 41);
        }